.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
    list-style: none;
}

#pokeDetailContainer{
    width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.normal {
    background-color: #a6a877;
}

.grass {
    background-color: #77c850;
}

.fire {
    background-color: #ee7f30;
}

.water {
    background-color: #678fee;
}

.electric {
    background-color: #f7cf2e;
}

.ice {
    background-color: #98d5d7;
}

.ground {
    background-color: #dfbf69;
}

.flying {
    background-color: #a98ff0;
}

.poison {
    background-color: #a040a0;
}

.fighting {
    background-color: #bf3029;
}

.psychic {
    background-color: #f65687;
}

.dark {
    background-color: #725847;
}

.rock {
    background-color: #b8a137;
}

.bug {
    background-color: #a8b720;
}

.ghost {
    background-color: #6e5896;
}

.steel {
    background-color: #b9b7cf;
}

.dragon {
    background-color: #6f38f6;
}

.fairy {
    background-color: #f9aec7;
}

 

.pokemon {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
    text-decoration: none;
    color: #fff;
    width: 50%;
}

.pokemon .number {
    color: #000;
    opacity: .5;
    text-align: right;
    font-size: 1rem;
}

.pokemon .name {
    text-transform: capitalize;

    margin-bottom: .25rem;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .types {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
}

.pokemon .types .type {
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
    text-transform: capitalize;
    filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.5));
}

.poke__img {
    max-width: 100%;
    height: 261px;
    margin: auto;
    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.5));
}

.poke__details{
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background: rgb(207, 206, 206);
}

.poke__stats{
    text-align: right;
}
.poke__moves{
    text-align: left;
}
.poke__stats, .poke__moves{
    margin: 0 0 0 30px;
    
}
.poke__stats p{
   font-weight: 300;
}

.move{
    font-weight: 300;
    padding-bottom: 5px;
}

.stat__name{
    font-weight: bold;
}
.moves__list{
    list-style: none;
    width: 150px;
    padding: 0;
    max-height: 190px;
    overflow-x: auto; 
}

.move{
    text-transform: capitalize;
}


.botao__voltar{
    text-decoration: none;
    color: black;
    margin-top: 30px;
    padding: 5px;
    border: 1px solid black;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botao__voltar {
    padding: .3rem .6rem;
    margin: .6rem 0;
    font-size: .8rem;
    color: #fff;
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
}
